.search-result-title code {
  border: none;
  background-color: #f5f5f5;
}

.exactlyMatchedTag {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border: solid 1px #ccc;
  padding: 20px 15px;
  margin: 20px 0;
  overflow: hidden;
}

.exactlyMatchedTag_tag {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  display: inline-block;
  position: relative;
  background-color: #dfdfdf;
  font-size: 85%;
  line-height: 1.2em;
  margin-left: .7em;
  padding: 0 2px;
  color: #555 !important;
  margin-right: 5px;
  padding-right: 5px;
  background-color: #dfdfdf;
  vertical-align: middle;
  font-size: 22px;
}

.exactlyMatchedTag_tag:after {
  width: 0;
  height: 0;
  right: 100%;
  content: '';
  position: absolute;
  pointer-events: none;
  border: solid transparent;
  border-color: transparent;
  border-right-color: #dfdfdf;
  border-width: .6em;
  top: 50%;
  margin-top: -.6em;
}

.exactlyMatchedTag_stats {
  display: inline-block;
}
